<% content_for :body_content_left do %>
<% if !velgen.first.nil? %>
<div class="velgen-left">  
  <ul id="velgen">
	<%= render :partial => "/shared/velg", :collection => velgen %>
  </ul>
</div>
<div class="velgen-right">
	<%= render :partial => "/shared/velg_show", :object => velgen.first %>
</div>
<div class="clearfix"></div>
<% else %>
<%= t("Geen Velgen Beschikbaar") %>
<% end %>
<% end %>
