/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

@import "compass/css3/box-shadow" ;
@import "compass/css3/border-radius" ;
@import "compass/utilities/general/clearfix" ;

/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { 
//font-family: Verdana,Arial,Helvetica,sans-serif; 
font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif; 
color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
















/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* Own CSS */
@mixin rounded-top {
  $side: top;
  $radius: 10px;

  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}


.content {
	//font-family: Verdana,Arial,Helvetica,sans-serif ;
font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
width: 1000px ; 
	margin-left: auto ; 
	margin-right: auto ; 
	position: relative ;
}

#home_title {
	margin-top: 70px ;
	h2 {
		///font-family: Garamond, "Times New Roman", serif ;
		font-size: 40px ;
		margin-left: 250px ;
	}
	p {
		//font-family: Garamond, "Times New Roman", serif ;
		font-size: 32px ;
		line-height: 50px ;
		margin-left: 300px ;
	}
}

#body_content_right .inner {
	margin-top:5px ;
	margin-right: 20px ;

	h2 {
		font-size: 18px ;
		text-transform: uppercase;
	}
	em {
		font-style: italic ;
	}
}

#home_languages {
		//font-family: verdana, arial, sans-serif ;	
	p {
		font-size: 40px ;
	}
	margin-bottom: 100px ;
}

#home_div {
	width: 100% ;
	text-align: center ;
	img {
		@include box-shadow(black 2px 2px 10px); 
		margin-top: 40px ;
		margin-bottom: 40px ;
	}
}

#home_languages {
	p {
		font-size: 32px ;
		line-height: 50px ;
		text-align: center ;
		width: 100% ;
	}
	ul {
		width: 1000px ;
		height: 120px; 
		li {
			display: inline-block ;
			list-style: none ;
			width: 120px ;
			background-repeat: no-repeat ;
			padding-top: 90px ;
			text-align: center ;
			margin-left: 15px ;
			margin-top: 15px ;
			border: 1px solid #fff ;
			padding-bottom: 4px ;
			&:hover {
				cursor: pointer ;
				border: 1px solid #000000 ;
			}
		}
		li#home_li_nl {
			background-image: url("/images/nl.GIF") ;
		}
		li#home_li_en {
			background-image: url("/images/gbflag.png") ;
		}
		li#home_li_es {
			background-image: url("/images/es.jpg") ;
		}
		li#home_li_fr {
			background-image: url("/images/fr.gif") ;
		}
		li#home_li_it {
			background-image: url("/images/it.gif") ;
		}
		li#home_li_po {
			background-image: url("/images/po.png") ;
		}
		li#home_li_de {
			background-image: url("/images/de.jpg") ;
		}
		a {
			text-decoration: none ;
			&:visited {
					color: #000000 ;

			}
		}

	}
}		

	

.velg-summary {

	width:  100% ;
	&.active {
		background-color: #9badc5 ;
	}
	.velg-short {
		float: left ;
		padding-top: 15px ;
		width: 300px ;
		color: #000 ;
		p { line-height: 20px ; }
		h2 {
			font-size: 20px ; 
		}	
	}
	&:hover {
		background-color: #C3CEDC ;

	
	}		
	border-bottom: 1px solid #fff ;
}

#velgen li {
	cursor: pointer ;
}

.velgen-left {
	width: 500px ; 
        float: left ;
	//margin-left: 4px ;
	padding-right:2px;

}

.velgen-right {
	@include box-shadow(black 2px 2px 10px 0px); 
	@include border-bottom-right-radius(10px) ; 
	@include border-top-right-radius(10px) ;
	width: 485px ; 
	margin-top: 8px ;
        float: left ;
-webkit-scrollbar{width:9px;height:9px;}
-webkit-scrollbar-button:start:decrement,#doc ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
-webkit-scrollbar-track-piece{background-color:#FAFAFA;-webkit-border-radius:0;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;}
-webkit-scrollbar-thumb:vertical{height:50px;background-color:#999;-webkit-border-radius:8px;}
-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#999;-webkit-border-radius:8px;}
}

.velg-full {

	padding-left: 15px ;
	padding-top: 10px ;
	h2 {
		font-size: 20px ; 
		text-align: center ;
		margin-bottom: 5px ;
	}
	.button_to {
		text-align: center ;
		margin-bottom: 20px ;
		&input {
			background-color: #9badc5 ;
		}	
	}
}
.velg-thumb {
		border: 1px solid #000 ; 
		width: 170px ;
		height: 170px ;
		float: left ;
		&.odd {		
		margin-right: 20px ;
		}
		padding: 15px ;
		margin-bottom: 15px ;
		text-align:center;
		.img-hold {
			//width: 170px ; 
			//height: 170px ;
			overflow: hidden ;
			img {
			
				//height: 170px ;
				width: auto;

			}
		}

}

#velg-thumbs {
	width: 450px ;
	margin-left: auto ;
	margin-right: auto ;
}

.velg-thumb-summary {
		border: 1px solid #000 ; 
		width: 100px ;
		height: 100px ;
		float: left ;
		margin: 15px ;   
		text-align:center;
		img {
			
			height: 100px ;
			width: auto;

		}
		overflow: hidden ;
}

.velg-vanaf {
		width: 90% ;
		text-align: right ; 
		font-size: 20px ;
}







#page {
	@include clearfix ;
	position: relative ;
	//top: 130px ;
	z-index: 0 ;
}

.inner { 

	
	padding-bottom: 10px ;
	//margin-bottom: 150px;
}

#footer {
	width: 1000px ;
	margin-left: auto;
	margin-right: auto ;
	margin-bottom: 50px ;
	p {
		width: 100% ;
	}
	.menu {
		margin-top: 80px ;
		ul {
			text-transform: uppercase ; 
		}
	
		a {
			border: none ;
			color: #333 ;
			text-decoration: none ;
			&:hover {	
				color: #000 ;
			}
			 &.last {
				border: none ;
			}
		}
		width: 90% ;
		margin: auto ;
		background-color: #fff ;
		border-right: solid 1px #000 ;
		margin: 0px ;
		padding: 0 5px 0 5px ;
		&.last {
			border: none ;
		}
	}
	text-transform: uppercase ;	
	width: 90% ;
	margin: auto ;
	.dywfooter {
		margin-top: 25px ;
		font-size: 11px ;
		float: right ;
	}
}







#body_content_title {

	font-size: 20px ;

	margin-bottom: 10px ;
}

#contact #body_content_title {
	margin-bottom: 0 ;
}

#page {	
	float: left ;
	//margin-bottom: 150px ; 
}


#language-selector {
	position: absolute ;
	top: 15px ;
	right: 0px ;
	background-color: #e3e3e3;
	padding: 10px ;
	ul {
		li {
			&.nf {
				display: none ;
			}
			&.ff {
				display: block ;
			}
			line-height: 20px ;
		}
	}
	z-index: 2;
}
	
.myButton {
	width: 398px ;
	text-align: center ;
	margin-bottom: 20px ;
	//background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #519bc2), color-stop(1, #338eb8) );
	//background:-moz-linear-gradient( center top, #519bc2 5%, #338eb8 100% );
	//filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#519bc2', endColorstr='#338eb8');
	background-color:#519bc2;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#000;


	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	//text-shadow:1px 1px 0px #8f8b8f;
}.myButton:hover {
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #338eb8), color-stop(1, #519bc2) );
	background:-moz-linear-gradient( center top, #338eb8 5%, #519bc2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#338eb8', endColorstr='#519bc2');
	background-color:#338eb8;*/
	color: #000 ;
	text-shadow:1px 1px 0px #fff;
}.myButton:active {
	position:relative;
	top:1px;
}.myButton:visited {
	color: #000000 ;
	position:relative;
	top:1px;
}

#body_content_title {
		text-align: center ;
		font-size: 40px ; 	
		text-transform: uppercase ;
		margin-top: 30px ;
}

.inner {
	border-top: 7px solid #333333 ; 
}

#contact {
	#body_content_left {
	width: 500px ; 
        float: left ;
	margin-left: 4px ;
	}
	#body_content_right {
	//@include box-shadow(black 2px 2px 10px); 
	//@include border-bottom-right-radius(10px) ; 
	//@include border-top-right-radius(10px) ;
	width: 450px ; 
	min-height: 400px ;
	margin-top: 8px ;
        float: left ;
	}
	#body_content_title {
		border-bottom: 5px solid #333333 ; 
	//width: 960px ;       
	}
	.inner {
	width: 85% ;
	border-top: 0 ;
	}
	
}
	
		
.img-hold {
background-image:url('/images/ajax-loader.gif');
background-repeat:no-repeat;

background-position:center; 
}

.velgen-left {

  //border-right: 2px solid #333333 ;
  background:url(../images/border.gif) right;
  background:url(../images/gradient.svg) right;
  display:block;
padding-right:4px;
//  padding-left:7px; 
}

.inquiries {
//	border-right: 2px solid #333333 ;
  background:url(../images/border.gif) right;
  background:url(../images/gradient.svg) right;
width:500px;
padding-right:4px;
padding-top: 10px ;
}





.velgen-right {
	td {
		height: 22px ; 
		padding-right: 25px;
		&.feature {
			font-weight: bold ;
		}
	}
}

.velg-full {
	h2 {
		margin-bottom: 20px ;
	}
	table {
		width: 460px ; 
	}
}




#body_content_left .inner {
padding-right: 0px ;
}

#topmenu {
	float: left ;
	position: relative ;
	left: -50% ;

}

#topmenucontainer {
	float: left ;
	position: relative ;
	left: 50% ;
}



#menu,
#menu ul {
	
    list-style: none;
}
#menu {
    background-color: #fff ;
    margin-top: 60px ;
    margin-bottom: 40px ;
    text-transform: uppercase ;
    text-decoration: none ;
    width: 1000px ;
    float: left;

}
#menu > li {
    float: left; 

}
#menu li {
    padding: 0 5px 0 5px ; 
    margin: 0 ;
    border-left: 1px solid #000 ;
    border-right: 1px solid #000 ; 
    border-top: 2px solid #fff ;
    border-bottom: 2px solid #fff ; 
    &.first {
	border-left: 1px solid #fff ;
    }
    &.last {
	border-right: 1px solid #fff ;
    }
    &:hover {
	border-top: 2px solid #000 ;
	border-bottom: 2px solid #000 ;
	    &.first {
		border-left: 1px solid #000 ;
	    }
	    &.last {
		border-right: 1px solid #000 ;
	    }
    }
}
#menu li a {
display: block;
    height: 1.5em;
    line-height: 1.5em;
  //  padding: 0 1.5em;
    text-decoration: none;
    color: #000 ;
}
#menu ul {
    position: absolute;
    display: none;
z-index: 999;
}
#menu ul li a {
    //width: 80px;
}
#menu li:hover ul {
    display: block;
}


